:root {
  --opacity-button-disabled: 0.5;
  --ring-width: 2px;
  --ring-offset: 2px;
  --border: 240 6% 90%;
  --input: 240 6% 90%;
  --ring: 240 5% 65%;
  --background: 0 0% 100%;
  --foreground: 240 10% 4%;
  --primary: 240 6% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 214 32% 91%;
  --secondary-foreground: 240 6% 10%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --muted: 240 5% 96%;
  --muted-foreground: 240 4% 46%;
  --accent: 240 5% 96%;
  --accent-foreground: 240 6% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 4%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 4%;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --radius-rounded-sm: 2px;
  --radius-rounded-md: 6px;
  --radius-rounded-lg: 8px;
  --radius-rounded-xl: 12px;
  --radius-rounded-full: 9999px;
}

.dark {
  --opacity-button-disabled: 0.5;
  --ring-width: 2px;
  --ring-offset: 2px;
  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --ring: 240 4% 16%;
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 6% 10%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 0 0% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 86% 97%;
  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 65%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --popover: 240 10% 4%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 4%;
  --card-foreground: 0 0% 98%;
}
