:root {
  --opacity-button-disabled: 0.5;
  --ring: 187 100% 53%;
  --ring-width: 2px;
  --ring-offset: 2px;
  --background: 0 0% 96%;
  --background-80: 0 0% 96% / 80%;
  --background-90: 0 0% 96% / 90%;
  --foreground: 0 0% 18%;
  --foreground-50: 0 0% 18% / 50%;
  --foreground-80: 0 0% 18% / 80%;
  --foreground-90: 0 0% 18% / 90%;
  --muted: 0 0% 100%;
  --muted-50: 0 0% 100% / 50%;
  --muted-80: 0 0% 100% / 80%;
  --muted-90: 0 0% 100% / 90%;
  --muted-foreground: 249 6% 43%;
  --muted-foreground-80: 249 6% 43% / 80%;
  --muted-foreground-90: 249 6% 43% / 90%;
  --popover: 0 0% 100%;
  --popover-80: 0 0% 100% / 80%;
  --popover-90: 0 0% 100% / 90%;
  --popover-foreground: 0 0% 18%;
  --popover-foreground-80: 0 0% 18% / 80%;
  --popover-foreground-90: 0 0% 18% / 90%;
  --card: 0 0% 100%;
  --card-80: 0 0% 100% / 80%;
  --card-90: 0 0% 100% / 90%;
  --card-foreground: 0 0% 18%;
  --card-foreground-80: 0 0% 18% / 80%;
  --card-foreground-90: 0 0% 18% / 90%;
  --border: 0 0% 63%;
  --border-80: 0 0% 63% / 80%;
  --border-90: 0 0% 63% / 90%;
  --input: 0 0% 63%;
  --input-80: 0 0% 63% / 80%;
  --input-90: 0 0% 63% / 90%;
  --primary: 115 100% 84%;
  --primary-10: 115 100% 84% / 10%;
  --primary-20: 115 100% 84% / 20%;
  --primary-50: 115 100% 84% / 50%;
  --primary-80: 115 100% 84% / 80%;
  --primary-90: 115 100% 84% / 90%;
  --primary-foreground: 0 0% 18%;
  --primary-foreground-80: 0 0% 18% / 80%;
  --primary-foreground-90: 0 0% 18% / 90%;
  --secondary: 187 100% 84%;
  --secondary-80: 187 100% 84% / 80%;
  --secondary-90: 187 100% 84% / 90%;
  --secondary-foreground: 0 0% 18%;
  --secondary-foreground-80: 0 0% 18% / 80%;
  --secondary-foreground-90: 0 0% 18% / 90%;
  --accent: 64 100% 84%;
  --accent-50: 64 100% 84% / 50%;
  --accent-80: 64 100% 84% / 80%;
  --accent-90: 64 100% 84% / 90%;
  --accent-foreground: 0 0% 18%;
  --accent-foreground-80: 0 0% 18% / 80%;
  --accent-foreground-90: 0 0% 18% / 90%;
  --destructive: 348 100% 60%;
  --destructive-50: 348 100% 60% / 50%;
  --destructive-80: 348 100% 60% / 80%;
  --destructive-90: 348 100% 60% / 90%;
  --destructive-foreground: 0 0% 100%;
  --destructive-foreground-80: 0 0% 100% / 80%;
  --destructive-foreground-90: 0 0% 100% / 90%;
  --ring-80: 187 100% 53% / 80%;
  --ring-90: 187 100% 53% / 90%;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --radius-rounded-sm: 2px;
  --radius-rounded-md: 6px;
  --radius-rounded-lg: 8px;
  --radius-rounded-xl: 12px;
  --radius-rounded-full: 9999px;
}

.dark {
  --opacity-button-disabled: 0.5;
  --ring: 187 100% 40%;
  --ring-width: 2px;
  --ring-offset: 2px;
  --background: 0 0% 10%;
  --background-80: 0 0% 10% / 80%;
  --background-90: 0 0% 10% / 90%;
  --foreground: 0 0% 90%;
  --foreground-50: 0 0% 90% / 50%;
  --foreground-80: 0 0% 90% / 80%;
  --foreground-90: 0 0% 90% / 90%;
  --muted: 0 0% 20%;
  --muted-50: 0 0% 20% / 50%;
  --muted-80: 0 0% 20% / 80%;
  --muted-90: 0 0% 20% / 90%;
  --muted-foreground: 0 0% 70%;
  --muted-foreground-80: 0 0% 70% / 80%;
  --muted-foreground-90: 0 0% 70% / 90%;
  --popover: 0 0% 15%;
  --popover-80: 0 0% 15% / 80%;
  --popover-90: 0 0% 15% / 90%;
  --popover-foreground: 0 0% 85%;
  --popover-foreground-80: 0 0% 85% / 80%;
  --popover-foreground-90: 0 0% 85% / 90%;
  --card: 0 0% 15%;
  --card-80: 0 0% 15% / 80%;
  --card-90: 0 0% 15% / 90%;
  --card-foreground: 0 0% 85%;
  --card-foreground-80: 0 0% 85% / 80%;
  --card-foreground-90: 0 0% 85% / 90%;
  --border: 0 0% 30%;
  --border-80: 0 0% 30% / 80%;
  --border-90: 0 0% 30% / 90%;
  --input: 0 0% 25%;
  --input-80: 0 0% 25% / 80%;
  --input-90: 0 0% 25% / 90%;
  --primary: 115 100% 70%;
  --primary-10: 115 100% 70% / 10%;
  --primary-20: 115 100% 70% / 20%;
  --primary-50: 115 100% 70% / 50%;
  --primary-80: 115 100% 70% / 80%;
  --primary-90: 115 100% 70% / 90%;
  --primary-foreground: 0 0% 10%;
  --primary-foreground-80: 0 0% 10% / 80%;
  --primary-foreground-90: 0 0% 10% / 90%;
  --secondary: 187 100% 70%;
  --secondary-80: 187 100% 70% / 80%;
  --secondary-90: 187 100% 70% / 90%;
  --secondary-foreground: 0 0% 10%;
  --secondary-foreground-80: 0 0% 10% / 80%;
  --secondary-foreground-90: 0 0% 10% / 90%;
  --accent: 64 100% 70%;
  --accent-50: 64 100% 70% / 50%;
  --accent-80: 64 100% 70% / 80%;
  --accent-90: 64 100% 70% / 90%;
  --accent-foreground: 0 0% 10%;
  --accent-foreground-80: 0 0% 10% / 80%;
  --accent-foreground-90: 0 0% 10% / 90%;
  --destructive: 348 100% 60%;
  --destructive-50: 348 100% 60% / 50%;
  --destructive-80: 348 100% 60% / 80%;
  --destructive-90: 348 100% 60% / 90%;
  --destructive-foreground: 0 0% 90%;
  --destructive-foreground-80: 0 0% 90% / 80%;
  --destructive-foreground-90: 0 0% 90% / 90%;
  --ring-80: 187 100% 40% / 80%;
  --ring-90: 187 100% 40% / 90%;
}
